<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p data-th-utext="${#strings.replace(#strings.escapeXml(cv),'&#10;','&lt;br&gt;')}"></p>
<p th:text="${description}"></p>
</body>
</html>
